*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: #444 0.5rem 1rem 1rem 0;

    p {
        font-size: 1.5rem;
        font-weight: bold;
        text-wrap: balance;
    }
}

.fa-question {
    padding: 0.5rem 1.2rem;
    font-size: 3rem;
    border: 0.2rem solid goldenrod;
    outline: none;
    border-radius: 50%;
    margin: 1rem;
    cursor: pointer;
    color: goldenrod;
    transition: 0.1s ease-in-out scale;
    background-color: transparent;
}

.loading {
    color: goldenrod;
    font-size: 4rem;
    animation: spin 1s linear 0s infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    border: 0.2rem solid goldenrod;
    outline: none;
    border-radius: 50%;
    margin: 1rem;
    cursor: pointer;
    color: goldenrod;
    transition: 0.1s ease-in-out scale;
    background-color: transparent;

    &:hover {
        background-color: black;
        border-color: black;
        color: yellowgreen;
    }
}

.about-info {
    position: absolute;
    top: 20%;
    left: 0;
    width: 50vw;
    display: none;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 2rem 2rem 2rem -2rem #444;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
    z-index: 100;

    img {
        width: 8rem;
        border-radius: 50%;
        border: 0.3rem solid gold;
    }
}


.push-popup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.8rem;
    font-size: 1.5rem;
    border: 0.2rem solid goldenrod;
    outline: none;
    border-radius: 50%;
    margin: 1rem;
    cursor: pointer;
    color: goldenrod;
    transition: 0.1s ease-in-out scale;
    background-color: transparent;

    &:hover {
        background-color: black;
        border-color: black;
        color: yellowgreen;
    }
}

.nav-buttons {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;

    button {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 4rem;
        color: greenyellow;

        &:hover {
            color: goldenrod;
            cursor: pointer;
        }
    }
}

dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 1rem;
    width: 50vw;
    height: 60vh;
    overflow-y: scroll;

    .close-dialog{
        position: absolute;
        top: 5%;
        left: 5%;
        border-radius: 50%;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        background-color: red;
        color: white;
        border: none;

        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 8rem auto 4rem;
        width: 80%;
        flex-wrap: wrap;
        gap: 1rem;

        button{
            padding: 1rem;
            flex: 1;
            border: none;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
            
            &:first-child{
                background-color: yellow;
            }
            &:nth-child(2){
                background-color: palegreen;
            }
            &:last-child{
                color: white;
                background-color: crimson;
            }
        }
    }
}

@media screen and (max-width: 947px) {
    .about-info {
        width: 80vw;
    }

    .nav-buttons {
        display: flex;
        width: 100vw;
    }

    dialog{
        width: 90vw;
        height: 80vh;
    }
}